
// Font
$primary-font: 'Mitr';
$secondary-font: 'Poppins';

$extralight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;


// Colours
$global-text: #002975;
$primary-button: #13A8F2; // Glow Blue
$global-offwhite: #FAF4DC; // Glow OffWhite
$dividers-outlines: #DEDDDC; 
$lightbkgd: #F7F8F9; // light grey
$error: #FA1414;